{% extends 'base.html' %}

{% block meta %}
    <title>Daftar</title>
{% endblock meta %}

{% block content %}
<style>
    h1 {
      text-align: center;
    }

    table {
      text-align: center;
    }

</style>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card text-center" style="width: 45rem; height:40rem">
        <div class="card-body">
        <h1 class="card-header">Register Page</h1>
        <br>
        <form method="POST" action="">
            {% csrf_token %}
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar" style="margin-top: 20px;"/></td>  
                </tr>  
            </table>
        </form>
        <br>
        <br>
        <br>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}     
        </div>
    </div>
</div>


{% endblock content %}